In [1]:
#Masket Basket Analysis - Groceries data set

In [2]:
#imports
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data = pd.read_csv(r'C:\Users\Chethan\Downloads\Groceries_dataset.csv')

In [4]:
data.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [5]:
#checking rows and columns present in the dataset
data.shape

(38765, 3)

In [6]:
#checking missing values in the dataset for preprocessing
data.isnull().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [7]:
#checking info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [8]:
#checking columns
data.columns

Index(['Member_number', 'Date', 'itemDescription'], dtype='object')

In [10]:
#sorting date
data["Date"].sort_values()

13581    01-01-2014
9557     01-01-2014
30568    01-01-2014
13449    01-01-2014
9172     01-01-2014
            ...
3049     31-10-2015
785      31-10-2015
16087    31-10-2015
19198    31-10-2015
32236    31-10-2015
Name: Date, Length: 38765, dtype: object

In [12]:
# Summary of data understanding:

# grocery's dataset consists of 38765 rows and 3 columns - comparing number of entries and features, it indicates that there is no need to perform dimensionality reduction,
# The dataset includes transactions from January 1, 2014 (01-01-2014) to October 31, 2015 (31-10-2015)- two years of data.
# Date has object type instead of date type. Other columns have a correct data type.
# dataset doesn't have any missing values - that help due to the fact that there is no need to impute values and to introduce any bias to data
# there is no identifier like invoice_number to determine if client bought more products on single transaction,
# there is no quantity in the dataset which means that column 'itemDescription' is a description and identifier of quantity,
# as there is no quantity, therefore there is no minus values in grocery's dataset that would indicate returns.