In [1]:
#Masket Basket Analysis - Groceries data set

In [2]:
#imports
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data = pd.read_csv(r'C:\Users\Chethan\Downloads\Groceries_dataset.csv')

In [4]:
#step 1: Data exploration
data.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [5]:
#checking rows and columns present in the dataset
data.shape

(38765, 3)

In [6]:
#checking missing values in the dataset for preprocessing
data.isnull().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [7]:
#checking info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [8]:
#checking columns
data.columns

Index(['Member_number', 'Date', 'itemDescription'], dtype='object')

In [9]:
#sorting date
data["Date"].sort_values()

13581    01-01-2014
9557     01-01-2014
30568    01-01-2014
13449    01-01-2014
9172     01-01-2014
            ...
3049     31-10-2015
785      31-10-2015
16087    31-10-2015
19198    31-10-2015
32236    31-10-2015
Name: Date, Length: 38765, dtype: object

In [10]:
# Summary of data understanding:

# grocery's dataset consists of 38765 rows and 3 columns - comparing number of entries and features, it indicates that there is no need to perform dimensionality reduction,
# The dataset includes transactions from January 1, 2014 (01-01-2014) to October 31, 2015 (31-10-2015)- two years of data.
# Date has object type instead of date type. Other columns have a correct data type.
# dataset doesn't have any missing values - that help due to the fact that there is no need to impute values and to introduce any bias to data
# there is no identifier like invoice_number to determine if client bought more products on single transaction,
# there is no quantity in the dataset which means that column 'itemDescription' is a description and identifier of quantity,
# as there is no quantity, therefore there is no minus values in grocery's dataset that would indicate returns.

In [11]:
#===========================================================================================================

In [12]:
#step 2: Data preparation

#changing date object type to date type, datetime64[ns]
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)

In [13]:
#creating a new column called 'Quantity'
data['Quantity'] = np.full_like(data['itemDescription'], 1).astype(int)

In [14]:
#creating a new column called 'Invoice'
data['Invoice'] = data["Member_number"].astype(str) + '-' + data['Date'].astype(str)

In [15]:
#checking
data.head()

   Member_number       Date   itemDescription  Quantity          Invoice
0           1808 2015-07-21    tropical fruit         1  1808-2015-07-21
1           2552 2015-01-05        whole milk         1  2552-2015-01-05
2           2300 2015-09-19         pip fruit         1  2300-2015-09-19
3           1187 2015-12-12  other vegetables         1  1187-2015-12-12
4           3037 2015-02-01        whole milk         1  3037-2015-02-01

In [16]:
#checking basket of products

#using groupby
basket = data.groupby(["Invoice", "itemDescription"])["Quantity"].sum().unstack().reset_index().fillna(0).set_index("Invoice")
basket

#using crosstab
# basket = pd.crosstab(data['Invoice'], data['itemDescription'])
# basket

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
Invoice,,,,,,,,,,,,,,,,,,,,,
1000-2014-06-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1000-2015-03-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1000-2015-05-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000-2015-07-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000-2015-11-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999-2015-05-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4999-2015-12-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5000-2014-03-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5000-2014-11-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5000-2015-02-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Coding values in the basket, taking into account the fact that purchases quantity is not important in Market Basket Analysis,
# but the appearance of the product on the invoice

# for values equaled 0 -> return 0
# for all values equaled 1 and more than -> return 1

def encode(x):
    if x==0:
        return 0
    if x>=1:
        return 1

basket_encode = basket.map(encode)

In [18]:
#Filtering basket's row to identify only rows with 2 or more products on the invoice:

# number of entries reduced from 14963 to 14758,
# 205 rows were removed from Market Basket Analysis (rows with 1 or less products on the invoice).

basket_filter = basket_encode[(basket_encode > 0).sum(axis =1 )>=2]
basket_filter

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
Invoice,,,,,,,,,,,,,,,,,,,,,
1000-2014-06-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1000-2015-03-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1000-2015-05-27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000-2015-07-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000-2015-11-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999-2015-05-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4999-2015-12-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5000-2014-03-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5000-2014-11-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5000-2015-02-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#===================================================================================================